body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://previews.123rf.com/images/layritten/layritten1508/layritten150800013/43412570-seamless-pattern-of-colorful-clothes-for-stylish-design-transparent-pattern-background-of-clothing-s.jpg"); */
  background-image: url("https://previews.123rf.com/images/margolana/margolana1709/margolana170900048/86223191-vector-seamless-pattern-fashionable-mens-wear-background-for-use-in-design-fashion-man-cloth-and-acc.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  text-align: center;
}

.settings {
  text-align: right;
  padding: 20px;
}

.categories {
  background-color: white;
  max-width: 300px;
  max-height: 450px;
  border: 10px solid black;
  padding: 40px;
  margin: 20px 0px 20px 20px;
  text-align: center;
}

.card-container {
  background-color: white;
  width: 600px;
  border: 10px solid black;
  padding: 40px;
  margin: 20px 0px;
  text-align: center;
  display: flex;
}

.cart {
  background-color: white;
  width: 300px;
  border: 10px solid black;
  padding: 40px;
  margin: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
}

.login-container {
  display: flex;
  text-align: center;
}

.login-form {
  background-color: white;
  width: 500px;
  border: 15px solid black;
  padding: 80px;
  margin: 100px 100px 100px 110px;
}

.signup-form {
  background-color: white;
  width: 500px;
  border: 15px solid black;
  padding: 80px;
  margin: 100px;
}

.card {
  height: 225px;
  width: 50%;
  text-align: center;
  margin: 5px;
  overflow: scroll;
}

.clothing-image {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.profile {
  text-align: center;
}





